{% extends 'growth_app/base.html' %}
{% block title %}About Us - Growth{% endblock %}

{% block content %}

{% load static %}
{% load staticfiles %}

<div class="about-div">
    <div class="about-text">
        <h2 class="mb-3">Heading</h2>
        <p class="text-muted">Subheading</p>
        <p>Body text for your whole article or post. We'll put in some lorem ipsum to show how a filled-out page might look:

            Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</p>
    </div>
    <div class="about-image">
        <img src="{% static 'images/growth-logo.png' %}" alt="image1" width='500' height='350'>
    </div>
</div>

<div class="about-div">
    <div class="about-text">
        <h2 class="mb-3">Heading2</h2>
        <p class="text-muted">Subheading2</p>
        <p>Body text for your whole article or post. We'll put in some lorem ipsum to show how a filled-out page might look:

            Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</p>
    </div>
    <div class="about-image">
        <img src="{% static 'images/growth-logo.png' %}" alt="image1" width='500' height='350'>
    </div>
</div>

<div class="contact-div">
    <div class="contact-text">
        <h2 class="mb-3">Contact us</h2>
        <p class="text-muted">You can find us at</p>
    </div>
        
    <div class="contact-links">
        <ul>
            <li><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/x-logo.png' %}" alt="x" width="40" height="40"></a></li>
            <li><a href="https://www.Youtube.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/youtube-logo.png' %}" alt="youtube" width="40" height="40"></a></li>
            <li><a href="https://www.Instagram.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/instagram-logo.png' %}" alt="instagram" width="40" height="40"></a></li>
            <li><a href="mailto:email.com"><img src="{% static 'images/email-logo.png' %}" alt="email" width="40" height="40"></a></li>
        </ul>
    </div>
</div>

<div class="FAQ_div">
    <h2 class="mb-3">FAQ</h2>
    <p class="text-muted">Subheading</p>

    <div class="FAQ_object">
        <div class="FAQ_content">
            <div class="FAQ_question">
                <h5>How to do this by this because of this is just a test question fix later?</h5>
            </div>
            <div class="FAQ_answer">
                <p>Answer to question which is long and winding and will go on and on and on until there is something with better information that can be added this will continue going until something can be done about it so that there is something</p>
            </div>
        </div>
        <button class="toggle_FAQ_btn" onclick="toggleFAQ(this)">
            <img src="{% static 'images/downarrow.png' %}" alt="down arrow" width="20" height="20">
        </button>
    </div>

    <div class="FAQ_object">
        <div class="FAQ_content">
            <div class="FAQ_question">
                <h5>How to do this by this because of this is just a test question fix later?</h5>
            </div>
            <div class="FAQ_answer">
                <p>Answer to question which is long and winding and will go on and on and on until there is something with better information that can be added this will continue going until something can be done about it so that there is something</p>
            </div>
        </div>
        <button class="toggle_FAQ_btn" onclick="toggleFAQ(this)">
            <img src="{% static 'images/downarrow.png' %}" alt="down arrow" width="20" height="20">
        </button>
    </div>

    <div class="FAQ_object">
        <div class="FAQ_content">
            <div class="FAQ_question">
                <h5>How to do this by this because of this is just a test question fix later?</h5>
            </div>
            <div class="FAQ_answer">
                <p>Answer to question which is long and winding and will go on and on and on until there is something with better information that can be added this will continue going until something can be done about it so that there is something</p>
            </div>
        </div>
        <button class="toggle_FAQ_btn" onclick="toggleFAQ(this)">
            <img src="{% static 'images/downarrow.png' %}" alt="down arrow" width="20" height="20">
        </button>
    </div>

    <div class="FAQ_object">
        <div class="FAQ_content">
            <div class="FAQ_question">
                <h5>How to do this by this because of this is just a test question fix later?</h5>
            </div>
            <div class="FAQ_answer">
                <p>Answer to question which is long and winding and will go on and on and on until there is something with better information that can be added this will continue going until something can be done about it so that there is something</p>
            </div>
        </div>
        <button class="toggle_FAQ_btn" onclick="toggleFAQ(this)">
            <img src="{% static 'images/downarrow.png' %}" alt="down arrow" width="20" height="20">
        </button>
    </div>

    <div class="FAQ_object">
        <div class="FAQ_content">
            <div class="FAQ_question">
                <h5>How to do this by this because of this is just a test question fix later?</h5>
            </div>
            <div class="FAQ_answer">
                <p>Answer to question which is long and winding and will go on and on and on until there is something with better information that can be added this will continue going until something can be done about it so that there is something</p>
            </div>
        </div>
        <button class="toggle_FAQ_btn" onclick="toggleFAQ(this)">
            <img src="{% static 'images/downarrow.png' %}" alt="down arrow" width="20" height="20">
        </button>
    </div>
</div>
{% endblock %}